<header>
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-4">
            <a href="#">
              <img id="IMAGEFLIP" src="assets/images/flipkart.jpg" alt="" />
            </a>
          </div>
          <div class="col-md-8">
            <form>
              <input
                id="SearchInput"
                type="search"
                placeholder="Search for Products Brands and More"
              />
              <button id="searchButton" class="btn" type="submit">
                Search
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <ul>
          <li>
            <!-- add link for open login form: -->

            <a
              class="login-btn"
              mat-button
              type="button"
              (click)="openLoginForm()"
              class="btn btn-light login"
            >
              Login</a
            >
          </li>

          <li>
            <a class="more" href="#">More</a>
          </li>
          <li>
            <a class="cart" href="#"> Cart</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
