<header>
  <div class="container" fxLayout="column">
    <div class="row">
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-4">
            <a href="#">
              <img id="IMAGEFLIP" src="assets/images/flipkart.jpg" alt="" />
            </a>
          </div>
          <!-- Implement Search: -->
          <div class="search">
            <div class="col-md-8 search-bar" #searchpipe fxFlex>
              <input
                id="SearchInput"
                class="form-control"
                type="text"
                placeholder="Search for Products Brands and More"
                [(ngModel)]="query"
              />
            </div>
            <div class="search-btn">
              <button id="searchButton" class="btn" type="submit">
                Search
              </button>
            </div>
          </div>
          <!-- /////////end search//////////// -->
        </div>
      </div>
      <div class="col-md-5">
        <ul>
          <li>
            <!-- add link for open login form: -->

            <a
              class="login-btn"
              mat-button
              type="button"
              (click)="openLoginForm()"
              class="btn btn-light login"
            >
              Login</a
            >
          </li>

          <li>
            <a class="more" href="#">More</a>
          </li>
          <li>
            <a class="cart" href="#"> Cart</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
