/* APPLY CSS TOO THE IMAGE: */
#IMAGEFLIP {
  padding: 20px 1px 1px 0px;
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
  width: 110px;
  margin-right: 15px;
}
/* apply css too the login-button: */
.login-btn {
  color: blue;
  font-weight: bold;
  background-color: white;
}

* {
  box-sizing: border-box;
}
/* APPLY CSS TOO THE FORM TAG: */
/* form {
  padding: 22px 2px 16px 0px;
} */
/* APPLY CSS TOO HEADER TAG: */
header {
  font-family: Roboto, Arial, sans-serif;
  letter-spacing: 0;
  /* color: black; */
  font-size: 14px;
  line-height: 1.4;
  background-color: #2874f0;
  text-align: center;
  display: flex;
  width: 100%;
}

/* APPLY CSS TO UL TAG: */
ul {
  color: #fff;
  padding: 15px 0px;
  margin: 5px;
  width: 80%;
  background-size: 100%;
  list-style: none;
}

/* APPLY CSS TOO LI TAG: */
ul > li {
  padding: 0px 20px 9px 44px;
  display: inline-block;
}
/* apply css too the login button: */
ul > li > button {
  margin-top: 7px;
  width: 90px;
  height: 32px;
  text-align: center;
}
/* apply css too the more anchor tag: */
.more {
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  color: white;
}
/* apply css too the cart anchor tag: */
.cart {
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  color: white;
}
/* APPLY CSS TOO SEARCH INPUT: */
#SearchInput {
  border-radius: 6px 0px 0px 6px;
  border: 0 none;
  outline: 0 none;
  /* width: 80%; */
  height: 36px;
  cursor: pointer;
  padding: 0px 0px 0px 5px;
  font-family: Roboto, Arial, sans-serif;
}
/* APPLY CSS TOO SEARCH BUTTON: */
#searchButton {
  font-size: 16px;
  line-height: 0.4;
  height: 36px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 0px 6px 6px 0px;
}

.search-bar {
  margin-top: 4%;
  width: 365px;
}
.search-btn {
  margin-top: 4%;
}
