.navbar {
  color: black;
  background-color: white;
}
.navbar-nav {
  margin-left: 18%;
}

/* apply css too the anchor tag class: */
.electronics {
  cursor: pointer;
}
/* apply css too the anchor tag class: */
.tv {
  cursor: pointer;
}
/* apply css too the anchor tag class: */
.men {
  cursor: pointer;
}
/* apply css too the anchor tag class: */
.women {
  cursor: pointer;
}
/* apply css too the anchor tag class: */
.kids {
  cursor: pointer;
}
/* apply css too the anchor tag class: */
.furniture {
  cursor: pointer;
}
.sports {
  cursor: pointer;
}
.offer {
  cursor: pointer;
}
