<h2 class="main-header" fxLayout>Product Description</h2>

<!-- main-div -->
<div *ngIf="mobile" class="main-container" fxLayout="column">
  <!-- first div> -->
  <div class="mobile-design">
    <img src="{{ mobile.image1 }}" />
    <mat-card-content fxFlex>
      <mat-card-header>{{ mobile.productname2 }}</mat-card-header>
      <mat-card-subtitle style="margin-left: 18px; margin-top: 10px">{{
        mobile.productdescription2
      }}</mat-card-subtitle>
    </mat-card-content>
  </div>
  <!-- second div -->
  <div class="mobile-photos">
    <img src="{{ mobile.image2 }}" />
    <mat-card-content fxFlex>
      <mat-card-header>{{ mobile.productname6 }}</mat-card-header>
      <mat-card-subtitle style="margin-left: 18px; margin-top: 10px">{{
        mobile.productdescription6
      }}</mat-card-subtitle>
    </mat-card-content>
  </div>
  <!-- third div -->
  <div class="mobile-battery">
    <img src="{{ mobile.image3 }}" />
    <mat-card-content fxFlex>
      <mat-card-header>{{ mobile.productname1 }}</mat-card-header>
      <mat-card-subtitle style="margin-left: 18px; margin-top: 10px">{{
        mobile.productdescription1
      }}</mat-card-subtitle>
    </mat-card-content>
  </div>
  <!-- fourth div -->
  <div class="mobile-nightMode">
    <img src="{{ mobile.image4 }}" />
    <mat-card-content fxFlex>
      <mat-card-header>{{ mobile.productname5 }}</mat-card-header>
      <mat-card-subtitle style="margin-left: 18px; margin-top: 10px">{{
        mobile.productdescription4
      }}</mat-card-subtitle>
    </mat-card-content>
  </div>
  <!-- fifth div -->
  <div class="mobile-notch">
    <img src="{{ mobile.image5 }}" />
    <mat-card-content fxFlex>
      <mat-card-header>{{ mobile.productname4 }}</mat-card-header>
      <mat-card-subtitle style="margin-left: 18px; margin-top: 10px">{{
        mobile.productdescription5
      }}</mat-card-subtitle>
    </mat-card-content>
  </div>
  <!-- sixth div -->
  <!-- use *ngIf="!null" too check value null or not null: -->
  <div class="mobile-lock">
    <img src="{{ mobile.image6 }}" />
    <mat-card-content fxFlex>
      <mat-card-header>{{ mobile.productname3 }}</mat-card-header>
      <mat-card-subtitle style="margin-left: 18px; margin-top: 10px">{{
        mobile.productdescription3
      }}</mat-card-subtitle>
    </mat-card-content>
  </div>
</div>
