<div class="card-container col-md-3" FxLayout>
  <mat-card class="name-card">
    <div class="user-name">
      <mat-card-header class="user-info">
        <span mat-card-avatar class="fa fa-user-circle fa-lg"></span>
        <mat-card-title>Hello</mat-card-title>
        <mat-card-subtitle>Rajput Gaurav</mat-card-subtitle>
      </mat-card-header>
    </div>
  </mat-card>

  <mat-card class="manage-card">
    <div class="settings">
      <mat-list>
        <mat-list-item>
          <mat-card-header class="oders">
            <span mat-card-avatar class="fa fa-upload fa-lg"></span>
            <div mat-line>MY ORDERS</div>
          </mat-card-header>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
          <mat-card-header class="ac-setting">
            <span mat-card-avatar class="fa fa-user fa-lg"></span>
            <div mat-line>ACCOUNT SETTINGS</div>
          </mat-card-header>
        </mat-list-item>

        <mat-list-item class="info">
          <div mat-line>Personal Information</div>
        </mat-list-item>

        <mat-list-item class="address">
          <div mat-line>Manage Address</div>
        </mat-list-item>

        <mat-list-item class="pan">
          <div mat-line>Pan Card Information</div>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
          <mat-card-header class="payment">
            <span mat-card-avatar class="fa fa-google-wallet fa-lg"></span>
            <div mat-line>PAYMENTS</div>
          </mat-card-header>
        </mat-list-item>

        <mat-list-item class="wallet">
          <div mat-line>Phone Pe Wallet</div>
        </mat-list-item>

        <mat-list-item class="gift-card">
          <div mat-line>Gift Cards</div>
        </mat-list-item>

        <mat-list-item class="save-card">
          <div mat-line>Save Cards</div>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
          <mat-card-header class="payment">
            <span mat-card-avatar class="fa fa-commenting fa-lg"></span>
            <div mat-line>MY CHATS</div>
          </mat-card-header>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
          <mat-card-header class="payment">
            <span mat-card-avatar class="fa fa-address-book fa-lg"></span>
            <div mat-line>MY STUFF</div>
          </mat-card-header>
        </mat-list-item>

        <mat-list-item class="coupons">
          <div mat-line>My Coupons</div>
        </mat-list-item>

        <mat-list-item class="review">
          <div mat-line>My Reviews & Rating</div>
        </mat-list-item>

        <mat-list-item class="notification">
          <div mat-line>All Notification</div>
        </mat-list-item>

        <mat-list-item class="whislist">
          <div mat-line>My Whislist</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>

        <mat-list-item>
          <mat-card-header class="logout">
            <span mat-card-avatar class="fa fa-sign-out fa-lg"></span>
            <div mat-line>Logout</div>
          </mat-card-header>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card>

  <mat-card class="help-card">
    <div class="">
      <mat-card-header class="help">
        <mat-card-title>Frequently Visited :</mat-card-title>
        <!-- <mat-card-content> -->
        <mat-card-subtitle>Change Password</mat-card-subtitle>
        <mat-card-subtitle>Track Order</mat-card-subtitle>
        <mat-card-subtitle>Help Center</mat-card-subtitle>
        <!-- </mat-card-content> -->
      </mat-card-header>
    </div>
  </mat-card>
</div>
