<!-- implement Toolbar: -->
<mat-toolbar class="primary">
  Register
  <!-- use flex-spacer class for spacing bitween text and button: -->
  <span class="flex-spacer"></span>
  <button class="close-btn" mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<!-- implement register form: -->
<form class="form">
  <mat-form-field class="user">
    <mat-label>Enter Username</mat-label>
    <input matInput type="text" />
  </mat-form-field>

  <mat-form-field class="email">
    <mat-label>Enter Email</mat-label>
    <input matInput type="email" />
  </mat-form-field>

  <mat-form-field class="password">
    <mat-label>Enter Password</mat-label>
    <input matInput type="password" />
  </mat-form-field>

  <!-- implement register button: -->
  <button mat-raised-button class="register-btn" color="warn">Register</button>

  <!-- implement register link: -->
  <div class="link">
    <a class="login-link" (click)="openLoginForm()">
      Already have an account? Login.
    </a>
  </div>
</form>
